@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gowun+Dodum&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #27575D, #A1BB9A);
    color: whitesmoke;
    font-family: 'Gowun Dodum', sans-serif;
    
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #CFE6D5; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #E1C6C6; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.banner-area{
    background: url(topPicHead.png)no-repeat 50% 50%;
    background-image: url(topPicHead.png);
    background-size: cover;
    height: 100vh;
    border-radius: 0px 0px 20px 20px;
}


h1 {
    color: #E1C6C6;
    text-shadow: -3px 3px 2px #27575D;
    text-align:center;
    font-size: 5vw;
    line-height: 45vw;
    margin:0;
    padding:0;
    font-family: "Dancing Script";
}

span{
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50px);
}

span.fade{
    opacity: 1;
    transform: translateY(0px);
}

.about-area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    font-size: 25px;
    border-bottom: 3px solid #e1c6c6;
    border-right: 3px solid #e1c6c6;
    border-radius: 15px;
    text-align: justify;
    margin-left: 16%;
    margin-top: 15%;
    z-index: 2;
    background-color: #e1c6c64b;
    backdrop-filter: blur(10px);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45,55,68,0.30);
}

.port-area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    font-size: 25px;
    border-bottom: 3px solid #e1c6c6;
    border-left: 3px solid #e1c6c6;
    border-radius: 15px;
    text-align: justify;
    margin-left: 51%;
    margin-top: 20%;
    z-index: 2;
    background-color: #e1c6c64b;
    backdrop-filter: blur(10px);
    background-clip: padding-box;
    box-shadow: -10px 10px 10px rgba(45,55,68,0.30);
}

.contact-area {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    border: 3px solid #e1c6c6;
    border-radius: 15px;
    text-align: justify;
    margin-left: 20%;
    margin-top: 20%;
    z-index: 2;
    color: rgba(0, 0, 0, 0.795);
    background-color: #e1c6c64b;
    backdrop-filter: blur(20px);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45,55,68,0.30);
}

h2{
    position: relative;
    color: rgba(0, 0, 0, 0.795);
    padding-bottom: 5px;
    font-size: 1.8em;
    font-weight: bold;
    z-index: 2;
}

.about-area, .port-area, .textpart h2 p{
    position: relative;
    color: rgba(0, 0, 0, 0.795);
    padding: 30px 30px;
    font-size: 1em;
    font-weight: bold;
    z-index: 2;
}

.contact-area, .textpart p{
    position: relative;
    padding: 40px 30px 30px 30px;
    font-size: 1.5em;

    z-index: 2;
}

.contact-area{
    margin-bottom: 12%;
}

[class*="reveal-"] {
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.7, 0, 0, 1);
}

[class*="block"] {
    opacity: 0;
    transform: translateX(-120px);
}

.block-visible {
    opacity: 1;
    transform: translateX(0);
    transition: 1s cubic-bezier(.7, 0, 0, 1);
    z-index: 2;
}

img {
    opacity: 0;
    transform: translateY(-90px);
}

.img-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.7, 0, 0, 1);
    z-index: 1;
}

.reveal-1 {
    transition-delay: .9s;
}

.reveal-2 {
    transition-delay: 1.2s;
}

.aboutpic img{
    position: absolute;
    display: table;
    margin: 0 auto;
    opacity: 0.7;
    width: 500px;
    height: 400px;
    margin-top: -15%;
    right: 13%;
    z-index: 1;
    border-radius: 15px;
}

.projectpic img{
    position: absolute;
    display: table;
    margin: 0 auto;
    opacity: 0.7;
    width: 600px;
    height: 400px;
    margin-top: -15%;
    left: 13%;
    z-index: 1;
    border-radius: 15px;
}

.contactpic img{
    position: absolute;
    display: table;
    margin: 0 auto;
    opacity: 0.7;
    width: 450px;
    height: 550px;
    margin-top: -36%;
    right: 10%;
    z-index: 1;
}

.encre{
    position: relative;
    top: -110px;
    visibility: hidden;
}

.encretop{
    position: relative;
    top: 0;
    visibility: hidden;
}


.bgcolor {
    background: #CFE6D5;
}

.navbar-collapse a{
    font-family: 'Gowun Dodum', sans-serif, !important;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 3%;
}

.navbar .navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 1.7em;
    padding-left: 20px;
    font-weight: bold;
}

.navbar {
    box-shadow: 10px 10px 10px rgba(45,55,68,0.30);
}



/*
.contact-form{
    position: relative;
    display: block;
    border: 3px solid #E1C6C6;
    border-radius: 15px;
    width: 615px;
    margin-top: -34%;
    margin-left: 9%; 
    margin-bottom: 8%;
}

.contact-form p{
    position: relative;
    color: rgba(0, 0, 0, 0.795);
    padding: 20px 10px;
    font-size: 2em;
    text-align: center;
}

textarea{
    resize: none;
}

.form-control{
    width: 600px;
    background: #cfe6d5d2;
    border: 1px solid #27575D;
    outline: none;
}

form {
    padding-left: 5px;
    padding-right: 2px;
}

form .submit {
    display: block;
    width: 200px;
    text-align: center;
    margin-top: 20px;
    margin: 0 auto;
    background-color: #e1c6c6be;
    cursor: pointer;
    margin-bottom: 15px;
}
*/


footer {
    position: relative;
    background-color: #27575D;
    padding: 15px 0 4px 0;
    text-align: right;
    box-shadow: -5px 2px 30px rgba(0, 0, 0, 0.822);
}

footer p {
    padding-right: 5%;
    font-family: 'Gowun Dodum', sans-serif;
}

footer p span {
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em;
}


/**************************************** RESPONSIVE DESIGN ********************************/

@media (min-width: 0) and (max-width: 483px) {
    nav {
        display: none !important;
    }
    h1 {
        color: #27575D;
        text-shadow: -5px 5px 1px #E1C6C6;
        text-align:center;
        font-size:8vw;
        line-height:15vw;
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .about-area, .port-area, .contact-area{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 950px;
        font-size: 20px;
        border-bottom: 3px solid #E1C6C6;
        border-right: 3px solid #E1C6C6;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35%;
    }
    .contact-area{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 200px;
        font-size: 20px;
        border-bottom: 3px solid #E1C6C6;
        border-right: 3px solid #E1C6C6;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35%;
    }
}

@media (min-width: 484px) and (max-width: 618px) {
    nav {
        display: none !important;
    }
    h1 {
        color: #27575D;
        text-shadow: -5px 5px 1px #E1C6C6;
        text-align:center;
        font-size:8vw;
        line-height:15vw;
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .about-area, .port-area, .contact-area{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 450px;
        height: 700px;
        font-size: 20px;
        border-bottom: 3px solid #E1C6C6;
        border-right: 3px solid #E1C6C6;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35%;
    }
    .contact-area{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 450px;
        height: 200px;
        font-size: 20px;
        border-bottom: 3px solid #E1C6C6;
        border-right: 3px solid #E1C6C6;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35%;
    }
    
}

@media (min-width: 619px) and (max-width: 768px) {
    nav {
        display: none !important;
    }
    h1 {
        color: #27575D;
        text-shadow: -5px 5px 1px #E1C6C6;
        text-align:center;
        font-size:8vw;
        line-height:15vw;
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .about-area, .port-area, .contact-area{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 500px;
        font-size: 20px;
        border-bottom: 3px solid #E1C6C6;
        border-right: 3px solid #E1C6C6;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35%;
    }
    .contact-area{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 200px;
        font-size: 20px;
        border-bottom: 3px solid #E1C6C6;
        border-right: 3px solid #E1C6C6;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35%;
    }
    
}

@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
        color: #27575D;
        text-shadow: -5px 5px 1px #E1C6C6;
        text-align:center;
        font-size:5vw;
        line-height:15vw;
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .about-area, .port-area, .contact-area{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 500px;
        font-size: 20px;
        border-bottom: 3px solid #E1C6C6;
        border-right: 3px solid #E1C6C6;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25%;
    }
    
}

@media (min-width: 1025px) {
    h1 {
        color: #27575D;
        text-shadow: -5px 5px 1px #E1C6C6;
        text-align:center;
        font-size:5vw;
        line-height:15vw;
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

